.card-container {
  background: var(--color-background-primary);
  width: 90%;
  margin: auto;
  text-align: center;
  color: var(--color-font-primary);
  border-radius: 10px;
  margin-bottom: 1rem;

  .center {
    justify-content: center;
  }
}
