<div class="full-width card-container">
  <ion-card-content class="d-flex center">
    <div class="card-content">
      {{optionalTitle ? optionalTitle : 'scheduleList.empty' | translate}}
    </div>
  </ion-card-content>
</div>
