<header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'main'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'settingsPage.title' | translate}}</ion-title>
  </ion-toolbar>
</header>
<ion-content class="ion-padding">
  <wts-settings-user-section [userData]="user" (userDataChanged)="this.user = $event; updateSettings()"></wts-settings-user-section>

  <wts-settings-general-section [generalSettings]="config.general"
                                (generalSettingsChanged)="this.config.general = $event; updateSettings()"></wts-settings-general-section>
  <wts-settings-calendar-section [calendarSettings]="config.calendar"
                                 (calendarSettingsChanged)="this.config.calendar = $event; updateSettings()"></wts-settings-calendar-section>
  <wts-settings-schedule-section [scheduleSettings]="config.schedules"
                                 (scheduleSettingsChanged)="this.config.schedules = $event; updateSettings()"></wts-settings-schedule-section>
</ion-content>
