<div class="d-flex content-row">
    <i class="material-icons">today</i>
    <ion-label>{{scheduleData.date.toLocaleDateString()}}</ion-label>
</div>

<div class="vertical-separator"></div>

<div class="d-flex content-row">
    <i class="material-icons">av_timer</i>
    <span class="time-box" [class.invalid]="scheduleData.timeTo < scheduleData.timeFrom">
      <ion-label [matMenuTriggerFor]="timeFromMenu">{{scheduleData.timeFrom}}</ion-label>
    </span>
    <span class="time-range-separator">—</span>
    <span class="time-box" [class.invalid]="scheduleData.timeTo < scheduleData.timeFrom">
      <ion-label [matMenuTriggerFor]="timeToMenu">{{scheduleData.timeTo}}</ion-label>
    </span>

    <mat-menu #timeFromMenu="matMenu" yPosition="above" xPosition="before">
      <ion-datetime presentation="time"
                    [minuteValues]="minuteValues"
                    [(ngModel)]="scheduleData.timeFrom"
                    (ngModelChange)="onChange()"></ion-datetime>
    </mat-menu>
    <mat-menu #timeToMenu="matMenu" yPosition="above" xPosition="after">
      <ion-datetime presentation="time"
                    [minuteValues]="minuteValues"
                    [(ngModel)]="scheduleData.timeTo"
                    (ngModelChange)="onChange()"></ion-datetime>
    </mat-menu>
    <i class="material-icons error invalid" *ngIf="scheduleData.timeTo < scheduleData.timeFrom">error</i>
</div>

<div class="vertical-separator"></div>

<div class="d-flex content-row">
    <i class="material-icons">notes</i>
    <ion-textarea class="description"
                  placeholder="{{'scheduleList.createItem.addDescription' | translate}}"
                  [(ngModel)]="scheduleData.description"
                  (ngModelChange)="onChange()"></ion-textarea>
</div>
