.content-row {
  width: 100%;
  height: 3rem;
  align-items: center;

  i {
    margin-right: 1rem;
    font-size: 2rem
  }

  .error {
    margin-left: 1rem;
  }

  .time-box {
    font-size: 1rem;
    border-radius: 5px;
    padding: 2% 4% 2% 4%;
    border: 1px solid grey;
  }

  .invalid {
    border-color: red;
    color: red;
  }

  .time-range-separator {
    padding-inline: 0.5rem;
  }

  .description {
    margin-top: 1.4rem
  }
}

.vertical-separator {
  height: 2rem;
  border-left: 2px solid #cbcbcb;
  margin-left: 0.9rem;
}
