<ion-item-group>
  <ion-item-divider>
    <ion-label>{{'settingsPage.general.title' | translate}}</ion-label>
  </ion-item-divider>
</ion-item-group>

<ion-item lines="none">
  <ion-label>{{'settingsPage.general.language' | translate}}</ion-label>
  <ion-select value="notifications" interface="action-sheet" cancelText="{{'common.cancel' | translate}}"
              [(ngModel)]="language" (ngModelChange)="updateSettings()">
    <ion-select-option value="pl">Polski</ion-select-option>
    <ion-select-option value="en">English</ion-select-option>
  </ion-select>
</ion-item>

<ion-item lines="none" disabled="true">
  <ion-label>{{'settingsPage.general.theme' | translate}}</ion-label>
</ion-item>
