<div class="d-flex full-width toolbar">
  <button mat-button class="color-gray back-icon" (click)="deselectAll()">
    <mat-icon class="material-icons">arrow_back</mat-icon>
  </button>
  <button mat-button class="color-gray" (click)="selectAll()">
    <mat-icon class="material-icons">done_all</mat-icon>
  </button>
  <button mat-button class="color-gray" (click)="delete()">
    <mat-icon class="material-icons">delete_forever</mat-icon>
  </button>
</div>
