.toolbar {
  background: #dfdfdf;
  padding-block: 10px;
  justify-content: flex-end;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 1rem;
  width: 90%;
  margin-inline: auto;

  .back-icon {
    margin-right: auto;
  }
}
