<div class="d-flex flex-column top-expand-container"  #dragContainer>
 <div>
   <!--Expandable component-->
   <div class="content-container" #expandContainer>
     <ng-content select="[expandContent]"></ng-content>
   </div>
   <!--Optional always visible component-->
   <div>
     <ng-content select="[staticContent]"></ng-content>
  </div>
 </div>


  <div class="full-width d-flex justify-center" (click)="toggleExpand()">
    <ion-icon name="chevron-down-outline" [class.rotate-icon]="expanded" class="expand-icon"></ion-icon>
  </div>
</div>
