.content-container {
  height: 0;
  transition: height 400ms;
}

.expand-icon {
  font-size: 1.5rem;
  color: #878787;
}

.rotate-icon {
  transform: rotate(180deg);
}

.top-expand-container {
  padding-top: 10px;
  border-bottom: 1px solid #cbcbcb;
}
