<div class="content-container">
  <div class="modal-header">
    <button mat-icon-button class="material-icons" mat-dialog-close>close</button>
    <ion-label>{{'scheduleList.modifyItem.headerTitle' | translate}}</ion-label>
  </div>

  <wts-schedule-item-content class="main-content" [(scheduleData)]="data.schedule"></wts-schedule-item-content>

  <mat-dialog-actions>
    <button mat-button color="primary" class="action-button action-delete">{{'scheduleList.modifyItem.deleteButton' | translate}}</button>
    <button mat-button color="primary" class="action-button" [matDialogClose]="data.schedule">{{'scheduleList.modifyItem.saveButton' | translate}}</button>
  </mat-dialog-actions>
</div>
