.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-content {
    margin: auto;
  }

  .action-button {
    font-size: 1.1rem;
  }

  .action-delete {
    color: red;
  }

  mat-dialog-actions {
    justify-content: space-between;
  }

  .modal-header {
    font-size: 1.2rem;
    align-items: center;
    display: flex;
  }
}
