<header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'main'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'aboutPage.title' | translate}}</ion-title>
  </ion-toolbar>
</header>
<ion-content class="ion-padding">

  <ion-item>
    <ion-label>{{'aboutPage.appVersion' | translate}}</ion-label>
    <ion-note slot="end">{{dataService.appVersion}}</ion-note>
  </ion-item>
  <ion-item *ngIf="scheduleService.dateUpdated">
    <ion-label>{{'aboutPage.lastSync' | translate}}</ion-label>
    <ion-note slot="end">{{scheduleService.dateUpdated | date: 'dd.MM.yyyy HH:mm'}}</ion-note>
  </ion-item>
  <ion-item [lines]="'none'">
    <ion-label>{{'aboutPage.basicInfoTitle' | translate}}</ion-label>
  </ion-item>
  <ion-item [lines]="'none'">
    <ion-text>
      {{'aboutPage.basicInfoDescription' | translate}}
    </ion-text>
  </ion-item>

</ion-content>
