.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  background: var(--ion-color-primary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .title {
    height: 8%;
    margin-bottom: 1rem;

    h1 {
      font-weight: 700;
      color: var(--color-font-highlight);
      margin-top: 18px;
      margin-bottom: 5px;
    }

    .date-today {
      color: var(--color-font-highlight);
    }
  }

  .side-menu {
    align-self: center;
    font-size: 2rem;
    color: var(--color-font-highlight);
  }
}
