<div class="header">
  <div class="title">
    <h1>{{'calendar.header' | translate}}</h1>
    <span class="date-today">{{today}}</span>
  </div>
  <button mat-icon-button class="material-icons side-menu" (click)="sideMenu.openMenu()">menu</button>
</div>
<wts-side-menu #sideMenu></wts-side-menu>
