.highlight-full::before {
  content: '◉' !important;
  color: #19cb19;
  transform: translate(11px, 14px);
  font-size: 0.5rem;
  z-index: 500 !important;
}

.highlight-empty::before {
  content: '◯' !important;
  color: #cb1f19;
  transform: translate(11px, 14px);
  font-size: 0.5rem;
  z-index: 500 !important;
}

.calendar-container {
  width: 100%;
  height: 550px;
  mat-calendar {
    display: none;
  }
}

wts-calendar-full {
  height: 100%;
}
