<ion-slides pager="true" [options]="slideOpts" style="height: inherit" #ionSlides
            (ionSlidePrevEnd)="slidePrevious()"
            (ionSlideNextEnd)="slideNext()">
  <ion-slide>
    <div class="calendar-container">
      <mat-calendar [startAt]="previousMonth"
                    [(selected)]="selected"
                    [dateClass]="dateClass" #previous></mat-calendar>
      ASD1
    </div>
  </ion-slide>
  <ion-slide>
    <div class="calendar-container">
      <mat-calendar [startAt]="currentMonth"
                    [(selected)]="selected"
                    [dateClass]="dateClass" #current></mat-calendar>
      ASD2
    </div>
  </ion-slide>
  <ion-slide>
    <div class="calendar-container">
      <mat-calendar [startAt]="nextMonth"
                    [(selected)]="selected"
                    [dateClass]="dateClass" #next></mat-calendar>
      ASD3
    </div>
  </ion-slide>
</ion-slides>
