<div class="d-flex full-height flex-column">
  <div class="container">
    <mat-icon class="mail-sent-icon" svgIcon="remindPassword"></mat-icon>
    <mat-label class="mat-h1 d-flex-center text-center text-bold">{{'auth.login.remindPasswordPage.title' | translate}}</mat-label>
    <mat-label class="mat-h3 d-flex-center text-center label">{{'auth.login.remindPasswordPage.actionDescription' | translate}}</mat-label>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'auth.emailOrPhone' | translate}}</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email">
    </mat-form-field>

    <ion-button expand="block" color="primary" (click)="sendResetPasswordEmail()">{{'auth.register.confirmMail.continueAction' | translate}}</ion-button>
  </div>
</div>
