<ion-item-group>
  <ion-item-divider>
    <ion-label>{{'settingsPage.user.title' | translate}}</ion-label>
  </ion-item-divider>
</ion-item-group>

<ion-item lines="none" (click)="openDialog(userNameDialog)">
  <ion-label>{{'settingsPage.user.userName' | translate}}</ion-label>
  <ion-note slot="end">{{!!userData && !!userData.displayName && userData.displayName.length > 0 ? userData.displayName : ('settingsPage.schedules.descriptionBlank' | translate)}}</ion-note>
</ion-item>

<ion-item lines="none" disabled="true">
  <ion-label>{{'settingsPage.user.email' | translate}}</ion-label>
  <ion-note slot="end">{{userData?.email}}</ion-note>
</ion-item>

<ng-template #userNameDialog>
  <ion-textarea [(ngModel)]="userName" placeholder="{{'settingsPage.user.userName' | translate}}" class="background-light"></ion-textarea>
  <mat-dialog-actions>
    <button mat-button color="primary" class="action-button action-delete" [matDialogClose]="false">{{'common.cancel' | translate}}</button>
    <button mat-button color="primary" class="action-button" [matDialogClose]="true">{{'scheduleList.modifyItem.saveButton' | translate}}</button>
  </mat-dialog-actions>
</ng-template>
