.container {
  margin: auto;
  padding-inline: 2rem;

  .mail-sent-icon {
    display: flex;
    margin-inline: auto;
    height: 8rem;
    width: 8rem;
    color: blue;
    border-radius: 20px;
    padding: 1rem;
    background: #edf6ff;
    margin-bottom: 2rem;
  }

  .email-address {
    font-weight: bold;
    margin: 0;
  }


  ion-button {
    margin-block: 1rem;
    text-transform: none;
    height: 3rem;
    font-size: 1.1rem;
    --border-radius: 10px;
  }
}

.bottom-container {
  margin-bottom: 2rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
}

.label {
  color: #757272;
  margin: 0;
}

.clickable-link {
  border-radius: 10px;
  color: var(--ion-color-primary, #3880ff)
}
