<div class="d-flex full-height flex-column">
  <div class="container">
    <mat-icon class="mail-sent-icon" svgIcon="mailVerify"></mat-icon>
    <mat-label class="mat-h1 d-flex-center text-center text-bold">{{'auth.register.confirmMail.title' | translate}}</mat-label>
    <mat-label class="mat-h3 d-flex-center text-center label">{{'auth.register.confirmMail.actionDescription' | translate}}</mat-label>
    <ion-button expand="block" color="primary" [routerLink]="'/auth/login'">{{'auth.register.confirmMail.continueAction' | translate}}</ion-button>
    <mat-label class="mat-h3 d-flex-center text-center label">{{'auth.register.confirmMail.checkEmailActionDescription' | translate}}</mat-label>
  </div>
  <div class="bottom-container">
    <mat-label class="mat-h3 d-flex text-center label">{{'auth.register.confirmMail.noConfirmationEmailLabel' | translate}}</mat-label>
    <a mat-button class="clickable-link" (click)="auth.resendVerificationEmail()">{{'auth.register.confirmMail.noConfirmationEmailAction' | translate}}</a>
  </div>
</div>
