.highlight-full::before {
  content: '◉' !important;
  color: #19cb19;
  transform: translate(0, 2vw);
  font-size: 3.5vw;
  z-index: 500 !important;
}

.highlight-empty::before {
  content: '◯' !important;
  color: #cb1f19;
  transform: translate(0, 2vw);
  font-size: 2.5vw;
  z-index: 500 !important;
}

.calendar-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

wts-calendar-full {
  height: 100%;
}

.mat-calendar-body {
  tr:first-child {
    .mat-calendar-body-label:only-child {
      display: none;
    }
  }

 .mat-calendar-body-label {
   visibility: hidden;
 }
  tr:not(:first-child):not(:last-child) {
    border-bottom: 1px solid var(--color-background-primary);
  }
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  border-radius: 15px;
}

.mat-calendar-body-selected {
  background: var(--fab-background-color);
}

.weekend-date-class {
  .mat-calendar-body-cell-content {
    color: var(--calendar-weekend-font-color);
  }
}

.holiday-date-class {
  .mat-calendar-body-cell-content {
    color: var(--calendar-weekend-font-color);
  }
}


