<div class="calendar-container">
  <mat-calendar *ngIf="fullFilledDates"
                [startAt]="currentDate"
                [(selected)]="selectedDate"
                (selectedChange)="onDateSelected($event)"
                [dateClass]="dateClass"
                id="calendar-component"
                #calendar></mat-calendar>
</div>
