.time-range-selector {
  display: flex;
  margin: auto;
  justify-content: center;

  span {
    padding: 1rem;
  }
}

.background-light {
  background: #fbf9f9;
  border-radius: 10px;
}

mat-dialog-actions {
  justify-content: space-between;
}
