<ion-item-group>
  <ion-item-divider>
    <ion-label>{{'settingsPage.schedules.title' | translate}}</ion-label>
  </ion-item-divider>
</ion-item-group>

<!--<ion-item lines="none" mat-ripple>-->
<!--  <ion-label>{{'settingsPage.schedules.timeInterval' | translate}}</ion-label>-->
<!--  <ion-note slot="end">1 min</ion-note>-->
<!--</ion-item>-->

<ion-item lines="none" mat-ripple (click)="openDialog(timeDialog)">
  <ion-label>{{'settingsPage.schedules.defaultWorkTime' | translate}}</ion-label>
  <ion-note slot="end">{{scheduleSettings.defaultWorkStartTime}} - {{scheduleSettings.defaultWorkEndTime}}</ion-note>
</ion-item>

<ion-item lines="none" mat-ripple (click)="openDialog(descriptionDialog)">
  <ion-label>{{'settingsPage.schedules.defaultWorkDescription' | translate}}</ion-label>
  <ion-note slot="end">{{scheduleSettings.defaultDescription && scheduleSettings.defaultDescription.length > 0 ? scheduleSettings.defaultDescription : ('settingsPage.schedules.descriptionBlank' | translate)}}</ion-note>
</ion-item>

<ng-template #timeDialog>
  <div class="time-range-selector">
    <span class="time-box background-light" mat-ripple>
      <ion-label [matMenuTriggerFor]="timeFromMenu">{{timeFrom}}</ion-label>
    </span>
    <span class="time-range-separator">—</span>
    <span class="time-box background-light" mat-ripple>
        <ion-label [matMenuTriggerFor]="timeToMenu">{{timeTo}}</ion-label>
    </span>
  </div>
  <mat-menu #timeFromMenu="matMenu" yPosition="above" xPosition="before">
    <ion-datetime presentation="time" [minuteValues]="minuteValues" [(ngModel)]="timeFrom"></ion-datetime>
  </mat-menu>
  <mat-menu #timeToMenu="matMenu" yPosition="above" xPosition="after">
    <ion-datetime presentation="time" [minuteValues]="minuteValues" [(ngModel)]="timeTo"></ion-datetime>
  </mat-menu>

  <mat-dialog-actions>
    <button mat-button color="primary" class="action-button action-delete" [matDialogClose]="false">{{'common.cancel' | translate}}</button>
    <button mat-button color="primary" class="action-button" [matDialogClose]="true">{{'scheduleList.modifyItem.saveButton' | translate}}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #descriptionDialog>
  <ion-textarea [(ngModel)]="description" placeholder="{{'settingsPage.schedules.descriptionBlank' | translate}}" class="background-light"></ion-textarea>
  <mat-dialog-actions>
    <button mat-button color="primary" class="action-button action-delete" [matDialogClose]="false">{{'common.cancel' | translate}}</button>
    <button mat-button color="primary" class="action-button" [matDialogClose]="true">{{'scheduleList.modifyItem.saveButton' | translate}}</button>
  </mat-dialog-actions>
</ng-template>

