<ion-title [color]="'primary'" class="register-title"><div class="title-wrap">{{'auth.register.title' | translate}}</div></ion-title>
<ion-text [color]="'tertiary'" class="register-info">{{'auth.register.description' | translate}}</ion-text>

<div class="content">
  <form [formGroup]="registerForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'auth.emailOrPhone' | translate}}</mat-label>
      <input matInput type="email" name="email" formControlName="email">
      <mat-error *ngIf="email.invalid">{{'auth.register.error.email' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'auth.register.displayName' | translate}}</mat-label>
      <input matInput type="text" formControlName="displayName">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline" [class.invalid]="password.touched && password.invalid">
      <mat-label>{{'auth.register.password' | translate}}</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"  name="password" formControlName="password">
      <mat-icon class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">{{'auth.register.error.password' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'auth.register.repeatPassword' | translate}}</mat-label>
      <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" [errorStateMatcher]="matcher">
      <mat-error *ngIf="registerForm.hasError('notSame')">{{'auth.register.error.confirmPassword' | translate}}</mat-error>
    </mat-form-field>

    <ion-button color="primary" class="register-button"  (click)="register()">{{'auth.register.registerAction' | translate}}</ion-button>

    <mat-error *ngIf="accountExists">{{'auth.register.error.emailAlreadyInUse' | translate}}</mat-error>
  </form>

  <div class="sticky-bottom">
    <div class="full-width">
      <button mat-button class="clickable-link" (click)="confirmSkipAlert.presentAlert()">{{'auth.register.skipRegistration' | translate}}</button>
    </div>

    <div class="full-width">
      <button mat-button class="color-gray">
        <mat-icon class="log-in-options-icon" svgIcon="googleLogo"></mat-icon>Google
      </button>
      <button mat-button class="color-gray">
        <mat-icon class="log-in-options-icon" svgIcon="facebookLogo"></mat-icon>Facebook
      </button>
    </div>

    <div class="line">
      <ion-text [color]="'dark'">{{'auth.register.accountAlreadyCreated' | translate}}</ion-text>
      <button mat-button class="clickable-link" [routerLink]="'/auth/login'">{{'auth.register.loginAction' | translate}}</button>
    </div>
  </div>

</div>

<ng-template #successfulRegister>
  <mat-icon class="mail-sent-icon" svgIcon="mailVerify"></mat-icon>
  <mat-label class="mat-h1 d-flex-center text-center">{{'auth.register.verifyDialog.title' | translate}}</mat-label>
  <mat-label class="mat-h3 d-flex-center text-center label">{{'auth.register.verifyDialog.actionDescription' | translate}}</mat-label>
  <mat-label class="mat-h2 d-flex-center email-address">{{email.value}}</mat-label>
  <mat-label class="mat-h3 d-flex-center text-center label">{{'auth.register.verifyDialog.checkEmailActionDescription' | translate}}</mat-label>
  <mat-dialog-actions class="d-flex-center">
    <button mat-button class="clickable-link" (click)="auth.resendVerificationEmail()">Wyslij email weryfikacyjny</button>
    <ion-button color="primary" class="register-button" [matDialogClose]="true">{{'auth.register.verifyDialog.continueAction' | translate}}</ion-button>
  </mat-dialog-actions>
</ng-template>

<wts-confirm-skip-alert #confirmSkipAlert></wts-confirm-skip-alert>
