<header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'main'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'exportPage.title' | translate}}</ion-title>
  </ion-toolbar>
</header>

<ion-content class="ion-padding">
  <span class="note">{{'exportPage.note' | translate}}</span>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>{{'exportPage.dateRange.title' | translate}}</mat-label>
    <mat-select [disableOptionCentering]="true" [panelClass]="'dropdownClass'"
                [(value)]="dateRange"
                [class.dropdown-open]="selectDate.panelOpen"
                (selectionChange)="dateRangeChange($event)"#selectDate>
      <mat-option value="currentMonth">{{'exportPage.dateRange.options.currentMonth' | translate}}</mat-option>
      <mat-option value="lastMonth">{{'exportPage.dateRange.options.lastMonth' | translate}}</mat-option>
      <mat-option value="custom">{{'exportPage.dateRange.options.custom' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-calendar *ngIf="dateRange === 'custom'"
                [selected]="selectedRangeValue"
                (selectedChange)="selectedChange($event)">
  </mat-calendar>
  <div class="selected-date-range d-flex" *ngIf="selectedRangeValue">
    <span class="material-icons">date_range</span>
    <mat-label>{{getStartDate()}}  -  {{getEndDate()}}</mat-label>
  </div>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>{{'exportPage.format.title' | translate}}</mat-label>
    <mat-select [disableOptionCentering]="true" [panelClass]="'dropdownClass'" [(value)]="format"  [class.dropdown-open]="selectFormat.panelOpen" #selectFormat>
      <mat-option value="xlsx">{{'exportPage.format.options.xlsx' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>{{'exportPage.fileName' | translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="fileName">
  </mat-form-field>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin: 1rem">
    <ion-fab-button id="confirm-export" [disabled]="!(selectedRangeValue?.start && selectedRangeValue?.end)" (click)="export()">
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
