header {
  border-bottom: 1px solid var(--border-divider-primary-color);
}

.note {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  display: block;
  color: var(--ion-color-tertiary);
}

.selected-date-range {
  display: flex;
  align-items: center;
  width: 100%;
  place-content: center;
  border-top: 1px solid var(--border-divider-primary-color);
  padding: 1rem;
}

.mat-select-arrow {
  border: unset !important;
  border-bottom: 2px solid #000 !important;
  border-right: 2px solid #000 !important;
  width: 8px !important;
  height: 8px !important;
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform 100ms;
}

.dropdown-open {
  .mat-select-arrow {
    transform: rotate(225deg);
  }
}
