<ion-progress-bar type="indeterminate" *ngIf="!ready"></ion-progress-bar>
<ng-container *ngIf="currentHoliday">
  <wts-schedule-item-empty [optionalTitle]="$any(currentHoliday)[0].name"></wts-schedule-item-empty>
</ng-container>
<wts-schedule-item *ngFor="let schedule of todayScheduleList; trackBy:trackItems"
                   (delete)="onScheduleDeleted(schedule)"
                   (modify)="modifySchedule(schedule)"
                   [schedule]="schedule"></wts-schedule-item>
<ng-container *ngIf="todayScheduleList.length < 1">
  <wts-schedule-item-empty></wts-schedule-item-empty>
</ng-container>
<wts-schedule-item-create (scheduleCreated)="onScheduleCreated($event)"
                          [selectedDate]="selectedDate"></wts-schedule-item-create>
