:root {
  --color-background-primary: #EEEBFA;
  --color-background-primary-lighter: #8397E3;
  --color-font-primary: #6577DF;
  --color-font-primary-dark: #4A6EDE;
  --color-font-primary-light: #8E85E0;
  --color-font-secondary: #6577DF;
  --color-font-black: #000;
  --color-font-highlight: #fff;
  --calendar-weekend-font-color: #adadad;
  --border-divider-primary-color: #c7c7c7;
  --font-family: "Neo Sans", system-ui;


  --fab-button-radius: 20px;
  --fab-font-color: #fff;
  --fab-background-color: linear-gradient(0deg, var(--color-font-primary-dark) 0%, var(--color-font-primary-light) 100%);
}


$task-time-range-font-size: 0.9rem;
$task-time-diff-font-size: 0.85rem;
$task-description-font-size: 0.85rem;
