.modal-container {
  padding: 1rem;
  font-size: 1.2rem;
  color: #4a4a4a;

  .schedule-modal-header {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0.5rem;

    .submit-button {
      font-size: 1.1rem;
    }
  }

  .schedule-modal-content {
    padding: 2rem;
  }

  .horizontal-separator {
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
  }
}
