<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin: 1rem">
  <ion-fab-button id="open-modal" (click)="openBottomSheet()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal show-backdrop="true" #bottomSheetModal
           [isOpen]="open"
           (willDismiss)="collapseBottomSheet()"
           (didDismiss)="open = false;"
           [breakpoints]="[0.0, 0.5, 1]"
           [initialBreakpoint]="0.5">
  <ng-template>
    <div class="d-flex flex-column modal-container">
      <div class="d-flex schedule-modal-header">
        <button mat-icon-button class="material-icons" (click)="open = false">close</button>
        <ion-label>{{'scheduleList.createItem.headerTitle' | translate}}</ion-label>
        <button mat-button color="primary" class="submit-button"
                [disabled]="schedule.timeTo < schedule.timeFrom"
                (click)="submitNewSchedule()">{{'scheduleList.createItem.createButton' | translate}}
        </button>
      </div>

      <span class="horizontal-separator"></span>

      <div class="schedule-modal-content">
        <wts-schedule-item-content [(scheduleData)]="schedule"></wts-schedule-item-content>
      </div>
    </div>
  </ng-template>
</ion-modal>

