@import "../../../../../theme/variables.scss";

.schedule-list {
  width: 100%;
  display: flex;
  align-items: center;

  .checkbox {
    margin-left: 1rem;

    .mat-checkbox-frame, .mat-checkbox-background {
      border-radius: 50%;
      transform: scale(1.5);
    }

    .mat-checkbox-frame {
      border-width: 1px;
    }
  }

  .card-container {
    border-left: 15px solid var(--color-background-primary-lighter);
    margin: 5px 10px 5px 10px;
    background: var(--color-background-primary);

    .card-content {
      width: 90%;

      .time-part {
        display: flex;
        flex-direction: row;
        font-size: $task-time-range-font-size;

        .time-range {
          padding: 0.5rem;
          align-items: center;
          color: var(--color-font-primary);
          font-size: $task-time-range-font-size;

          i {
            margin-right: 5px;
            margin-bottom: 1px;
            color: var(--color-font-primary-light);
          }
        }

        .time-difference {
          align-items: center;
          font-size: $task-time-diff-font-size;
          padding-left: 30px;
          color: var(--color-font-primary-light);
        }
      }

      .description-part {
        color: var(--color-font-primary-light);
        font-size: $task-description-font-size;
        padding-left: 0.5rem;
      }
    }
  }
}

.more-button {
  font-size: 1.7rem;
  color: var(--color-font-primary-light);
  align-self: center;
  border-radius: 50%;
  padding: 5px;
}
