<div class="d-flex full-width schedule-list">
  <mat-checkbox class="checkbox"
                color="primary"
                *ngIf="selectionService.isAnyItemSelected()"
                [checked]="selectionService.itemSelected(schedule)"
                (change)="checkboxChange(schedule, $event)"></mat-checkbox>
  <div class="full-width card-container" mat-ripple (contextmenu)="selectionService.selectionChange(schedule, true)">
    <ion-card-content class="d-flex">
      <div class="card-content">
        <div class="time-part">
              <span class="time-range d-flex">
                <i class="material-icons">watch_later</i>
                {{schedule.timeFrom}} - {{schedule.timeTo}}
              </span>
          <span class="time-difference d-flex">{{formatTimeDiff(schedule.timeDiff)}}</span>
        </div>
        <span class="description-part" *ngIf="schedule.description">{{schedule.description}}</span>
      </div>
      <span matRipple class="material-icons-outlined more-button"
            [matMenuTriggerFor]="menu">chevron_right</span>
    </ion-card-content>
  </div>

</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="modify.emit(true)">
    <mat-icon>edit</mat-icon>
    <span>{{'scheduleList.editAction' | translate}}</span>
  </button>
  <button mat-menu-item (click)="delete.emit(true)">
    <mat-icon>delete</mat-icon>
    <span>{{'scheduleList.deleteAction' | translate}}</span>
  </button>
</mat-menu>
