:host {
  background: white;
  max-width: 400px;
  width: 100%;
  margin: auto;
  --padding-start: 20px;
  --border-radius: 5px
}

.register-title {
  flex: 0.15;
  font-weight: bold;
  font-size: 1.8rem;
  padding-top: 20px;;

  .title-wrap {
    white-space: pre-wrap;
    text-overflow: unset;
  }
}

.register-info {
  flex: 0.2;
  font-size: 1.2rem;
  padding-inline: 20px;
  line-height: 1.7rem;
}

.content {
  padding-inline: 20px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;

  .material-icons {
    color: var(--ion-color-tertiary);
  }

  .login-button {
    width: 100%;
    height: 3rem;
    font-size: 1.1rem;
  }

  .clickable-link {
    margin-top: 1rem;
  }

  .log-in-options-icon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: text-bottom;
  }

  .sticky-bottom {
    padding-bottom: 1rem;
    margin-top: auto;
  }

  div {
    padding-bottom: 10px;
  }
}

.clickable-link {
  font-size: 16px;
  color: var(--ion-color-primary);
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
