<ion-title [color]="'primary'" class="register-title"><div class="title-wrap">{{ 'auth.login.title' | translate }}</div></ion-title>

<div class="content">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>{{'auth.emailOrPhone' | translate}}</mat-label>
    <input matInput type="email" [(ngModel)]="credentials.email" name="email">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>{{'auth.login.password' | translate}}</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="credentials.password" name="password">
    <mat-icon class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-error *ngIf="incorrectCredentials" class="ion-padding-bottom">{{'auth.login.incorrectLogin' | translate}}</mat-error>

  <ion-button color="primary" class="login-button" (click)="loginEmail()">{{'auth.login.loginAction' | translate}}</ion-button>
  <button mat-button class="clickable-link" [routerLink]="'/auth/login/forgot-password'">{{'auth.login.remindPassword' | translate}}</button>

  <div class="sticky-bottom">
    <div class="full-width">
      <button mat-button class="clickable-link" (click)="confirmSkipAlert.presentAlert()">{{'auth.login.skipLogin' | translate}}</button>
    </div>

    <div class="full-width">
      <button mat-button class="color-gray">
        <mat-icon class="log-in-options-icon" svgIcon="googleLogo"></mat-icon>Google
      </button>
      <button mat-button class="color-gray">
        <mat-icon class="log-in-options-icon" svgIcon="facebookLogo"></mat-icon>Facebook
      </button>
    </div>

    <div class="line">
      <ion-text [color]="'dark'">{{'auth.login.noAccount' | translate}}</ion-text>
      <button mat-button class="clickable-link" [routerLink]="'/auth/register'">{{'auth.login.registerAction' | translate}}</button>
    </div>
  </div>

</div>

<wts-confirm-skip-alert #confirmSkipAlert></wts-confirm-skip-alert>
