<ion-item-group>
  <ion-item-divider>
    <ion-label>{{'settingsPage.calendar.title' | translate}}</ion-label>
  </ion-item-divider>
</ion-item-group>

<ion-item lines="none">
  <ion-label>{{'settingsPage.calendar.timezone' | translate}}</ion-label>
</ion-item>

<ion-item lines="none">
  <ion-label>{{'settingsPage.calendar.timeFormat' | translate}}</ion-label>
  <ion-select value="timeFormat" [(ngModel)]="calendarSettings.timeFormat" (ngModelChange)="updateSettings()">
    <ion-select-option value="24h">24h</ion-select-option>
    <ion-select-option value="12h">12h</ion-select-option>
  </ion-select>
</ion-item>

<ion-item lines="none">
  <ion-label>{{'settingsPage.calendar.startOfWeek' | translate}}</ion-label>
  <ion-select value="notifications" interface="action-sheet" [(ngModel)]="calendarSettings.weekStartDay" (ngModelChange)="updateSettings()">
    <ion-select-option value="sun">{{'calendar.weekDaysFull.sun' | translate}}</ion-select-option>
    <ion-select-option value="mon">{{'calendar.weekDaysFull.mon' | translate}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-item lines="none" mat-ripple>
  <ion-label>{{'settingsPage.calendar.showFulfilledDates' | translate}}</ion-label>
  <ion-toggle [(ngModel)]="calendarSettings.showFulfilledDates" (ngModelChange)="updateSettings()"></ion-toggle>
</ion-item>
