<div class="slide-container">
  <button mat-icon-button class="material-icons primary-color" (click)="ionSlides.slidePrev()">arrow_back_ios_new</button>

  <ion-slides [options]="SLIDE_OPTIONS" #ionSlides
              (ionSlidePrevEnd)="slidePrevious()"
              (ionSlideNextEnd)="slideNext()">
    <ion-slide>
      <ng-container [ngTemplateOutlet]="dayItem"
                    [ngTemplateOutletContext]="{week: previousWeek}"></ng-container>
    </ion-slide>
    <ion-slide>
      <ng-container [ngTemplateOutlet]="dayItem"
                    [ngTemplateOutletContext]="{week: currentWeek}"></ng-container>
    </ion-slide>
    <ion-slide>
      <ng-container [ngTemplateOutlet]="dayItem"
                    [ngTemplateOutletContext]="{week: nextWeek}"></ng-container>
    </ion-slide>
  </ion-slides>

  <button mat-icon-button class="material-icons primary-color" (click)="ionSlides.slideNext()">arrow_forward_ios</button>
</div>

<ng-template #dayItem let-week='week'>
  <div class="week-days-container" *ngFor="let weekDate of week">
    <div class="day mat-ripple" matRipple
         [class.current-day]="isToday(weekDate) && selectedDate.toDateString()!==weekDate.toDateString()"
         [class.weekend-date-class]="isWeekend(weekDate)"
         [class.selected-day]="selectedDate && selectedDate.toDateString()===weekDate.toDateString()"
         (click)="onDateSelected(weekDate)">
      <span class="day-header">{{'calendar.weekDays.' + weekDays[weekDate.getDay()] | translate}}</span>
      <span class="day-number">{{weekDate.getDate()}}</span>
      <span class="month-footer">{{weekDate | localizedDatePipe: 'MMM'}}</span>
    </div>
  </div>
</ng-template>

