.day {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.mat-ripple {
  border-radius: 10px;
}

.selected-day {
  background: linear-gradient(0deg, var(--color-font-primary-dark) 0%, var(--color-font-primary-light) 100%);
  border-radius: 10px;
  color: var(--color-font-highlight);

  .day-number {
    color: var(--color-font-highlight);
  }

  .day-header {
    color: var(--color-font-highlight);
  }

  .month-footer {
    color: var(--color-font-highlight);
  }
}

.current-day {
  box-shadow:0 0 0 2px var(--color-font-secondary) inset;
  border-radius: 10px;
}

.day-header {
  color: var(--color-font-primary-dark);
}

.day-number {
  margin: auto;
  width: 10vw;
  height: 3vw;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
  line-height: unset;
  color: var(--color-font-black);
}

.day-header, .month-footer {
  font-size: 1rem;
  padding: 0.5rem 0.1rem;
}

.week-days-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slide-container {
  background: var(--color-background-primary);
  display: flex;
  box-shadow: 0 0 16px 5px rgba(217, 217, 220, 1);

  button {
    align-self: center;
  }
}

.weekend-date-class {
  .day-header, .day-number {
    color: var(--calendar-weekend-font-color);
  }
  color: var(--calendar-weekend-font-color);
}
