.main {
  height: 100%;
  overflow: hidden;

  .content-wrapper {
    height: 90%;
    background: white;
    border-radius: 20px 20px 0 0;

    .content {
      height: 100%;
      padding-bottom: 20%;

      .schedules-container {
        padding-bottom: 25%;
        overflow-y: auto;
      }

      .hide {
        opacity: 0;
        height: 0;
        transform: translateY(-75px);
        pointer-events: none;
      }

      .schedule-list-toolbar {
        transition: 300ms all;
      }
    }
  }
}

.today-button {
  transform: scale(0);
  transition: all 100ms;
  margin: 1rem;
  margin-right: 5rem;
}

.today-button-active {
  transform: scale(1);
}
