<ion-content fullscreen="true" class="d-flex flex-column" id="main-content">
  <div class="main">
    <wts-header class="header"></wts-header>
    <div class="content-wrapper">
      <div class="content">
        <wts-top-expand [hidden]="selectionService.isAnyItemSelected()"
                        (expanding)="updateScheduleListHeight($event)"
                        [containerHeight]="calendarHeight">
          <wts-calendar-full (dateChange)="onSelectedDateChange($event)"
                             [selectedDate]="selectedDate"
                             (calendarHeight)="updateHeight($event)"
                             [fullFilledDates]="fulFilledDates"
                             expandContent></wts-calendar-full>
          <wts-calendar-week-view (dateChange)="onSelectedDateChange($event)"
                                  [selectedDate]="selectedDate"
                                  [fullFilledDates]="fulFilledDates"
                                  staticContent></wts-calendar-week-view>
        </wts-top-expand>
        <div class="schedule-list-toolbar" [class.hide]="!selectionService.isAnyItemSelected()">
          <wts-schedule-list-toolbar (removeSchedules)="onScheduleListChanged($event)"
                                     [selectedDate]="selectedDate"
                                     [allSchedules]="allSchedules"></wts-schedule-list-toolbar>
        </div>
        <div class="schedules-container" #schedulesComponent>
          <wts-schedule-list [scheduleList]="allSchedules"
                             [selectedDate]="selectedDate"
                             [ready]="dataReady"
                             (scheduleListChanged)="onScheduleListChanged($event)"></wts-schedule-list>
        </div>
        <ion-fab class="today-button"
                 [class.today-button-active]="!isTodaySelected()"
                 vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="setSelectedDayToToday()">
            <ion-label>{{today.getDate()}}</ion-label>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
  </div>
</ion-content>

