.menu-container {
  display: inherit;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    padding: 1rem;
    padding-top: 5rem;

    img {
      width: 3rem;
    }
  }

  .content {
    padding-bottom: 10rem;
  }

  .logout {
    padding-bottom: 3rem;
  }

  .menu-content-open {
    pointer-events: auto !important;
  }

  .horizontal-separator {
    display: block;
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

ion-item {
  --background: var(--color-background-primary);
  margin-inline: 1rem;
  border-radius: 20px;
}
