<ion-menu side="start" contentId="main-content" menuId="sideMenu">
  <div class="menu-container">
    <div class="header">
      <img src="assets/icon/schedule.png">
      <ion-title>{{'sideMenu.title' | translate}}</ion-title>
    </div>
    <div class="content">
      <ion-list>
        <ion-item lines="none" button="true" (click)="navigateTo('export')">
          <ion-icon name="download" slot="start"></ion-icon>
          <ion-label>{{'sideMenu.actions.export' | translate}}</ion-label>
        </ion-item>
        <span class="horizontal-separator"></span>
        <ion-item lines="none" button="true" (click)="navigateTo('settings')">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>{{'sideMenu.actions.settings' | translate}}</ion-label>
        </ion-item>
        <span class="horizontal-separator"></span>
        <ion-item lines="none" button="true" (click)="navigateTo('about')">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>{{'sideMenu.actions.about' | translate}}</ion-label>
        </ion-item>
        <span class="horizontal-separator"></span>
        <ion-item lines="none" button="true">
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>{{'sideMenu.actions.reportProblem' | translate}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <ion-item class="logout" lines="none" button="true" (click)="logOut()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>{{'sideMenu.actions.logout' | translate}}</ion-label>
    </ion-item>
  </div>
</ion-menu>
