/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root {
  --ion-font-family: var(--font-family);
}


.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.primary-color {
  color: var(--color-font-primary);
}


.mat-form-field-appearance-outline {
  /* Label color */
  .mat-form-field-label {
    color: #B0B0B0;
  }
}

.mat-dialog-container {
  border-radius: 20px !important;
}

:host(.button-solid.ion-color) .button-native {
  border-radius: 5px;
}

.tertiary-color {
  color: var(--ion-color-tertiary)
}

.color-gray {
  color: gray;
}

:host(.calendar-day) {
  background: black !important;
}

.my-custom-modal-class   {
  --backdrop-opacity: 0.8 !important;

  .modal-wrapper {
    --height: 40% !important;
    position: absolute;
  }
}

.menu-content-open {
  pointer-events: auto !important;
}

.dropdownClass {
  margin-top: 40px;
}

.mat-option.mat-selected {
  font-weight: bold;
}

ion-fab {
  ion-fab-button {
    --border-radius: var(--fab-button-radius) !important;
    --background: var(--fab-background-color) !important;
    --color: var(--fab-font-color) !important;
  }
}
